img {
  vertical-align: bottom;
  width: 400px;
}

body {
  overflow: hidden;
}

.gallery {
  position: relative;
  display: flex;
  width: 400px;
  height: 250px;
  border: 4px solid black;
  overflow: hidden;
}

.pics {
  display: flex;
  animation: slide 10s ease-in-out infinite;
}

.pause {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
}

.pause i {
  font-size: 48px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.gallery .pause:hover {
  opacity: 1;
  animation-play-state: paused;
}

.gallery .pause:hover + .pics {
  opacity: 1;
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-400px);
  }
  25% {
    transform: translateX(-400px);
  }
  45% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(-800px);
  }
  70% {
    transform: translateX(-1200px);
  }
  75% {
    transform: translateX(-1200px);
  }
  95% {
    transform: translateX(-1600px);
  }
  99% {
    transform: translateX(-1600px);
  }
  100% {
    transform: translateX(0);
  }
}
