img {
  width: 150px;
  animation: tourne 10/*  */s infinite;
  animation-timing-function: linear;
}

@keyframes tourne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
