*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

ul{
    list-style-type: none;
}

.container{
    width: 285px;
    margin: auto;
    margin-top: 10%;
    padding: 24px;
    background-color: white;
    border-radius: 15px;
    border: #dee2e6 1px solid;
}

li:nth-child(2n+1){
    padding: 5px;
    background-color: #e5e9ec;
    border-top: #dee2e6 1px solid;
    border-bottom: #dee2e6 1px solid;
}

li:nth-child(2n){
    padding: 5px;
}