* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bloc {
  width: 100%;
  text-align: center;
  margin: 16px;
}

.rep {
  opacity: 0;
  width: 100%;
  text-align: center;
  margin: 32px;
  transition: 0.3s;
}

.active {
  opacity: 1;
  transition: 0.3s;
}

#btn {
  text-decoration: none;
  background-color: rgb(188, 225, 255);
  border: rgb(60, 150, 253) 1px solid;
  color: rgb(60, 150, 253);
  padding: 12px;
  border-radius: 24px;
}
